@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300&display=swap');
:root{
    --blue:#0080ff;
}
*{
    font-family: poppins ,sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    border: none;
    text-decoration: none;
    transition: all 0.5s linear;
}
html{
    font-size: 62%;
    overflow-x:hidden ;
    scroll-behavior: smooth;
}
.login-form{
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background: url(images/g-2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.login-form form{
    margin: 2rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: white;
    width: 50rem;
}
.login-form form h3{
    font-size: 3rem;
    color: #444;
    text-transform: uppercase;
    padding: 1rem 0;
    text-align: center;
}
.login-form form .box{
    width: 100%;
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    margin: 0.6rem 0;
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    text-transform: none;
}
 .btn{
    display: inline-block;
    margin-top: 1rem;
    color: var(--blue);
    padding: 0.8rem 3rem;
    border: 0.2rem solid var(--blue);
    cursor: pointer;
    font-size: 1.7rem;
}
.btn:hover{
    color: white;
    background: var(--blue);
}
.login-form form .btn{
    display: block;
    width: 100%;
}
